## Account Overview
#### 04.6 Winter School on Smart Contracts
##### Peter Gruber (peter.gruber@usi.ch)
2022-01-22

* Helper file to keep an overview over all our accounts

## Setup
See notebook 04.1, the lines below will always automatically load functions in `algo_util.py`, the 5 accounts and the credentials

In [1]:
# Loading shared code and credentials
import sys, os

codepath = '..'+os.path.sep+'..'+os.path.sep+'sharedCode'
sys.path.append(codepath)
from algo_util import *
cred = load_credentials()

# Shortcuts to directly access the 3 main accounts
MyAlgo  = cred['MyAlgo']
Alice   = cred['Alice']
Bob     = cred['Bob']
Charlie = cred['Charlie']
Dina    = cred['Dina']

In [2]:
from algosdk import account, mnemonic
from algosdk.v2client import algod
from algosdk import transaction
from algosdk.transaction import PaymentTxn
from algosdk.transaction import AssetConfigTxn, AssetTransferTxn, AssetFreezeTxn
from algosdk.transaction import LogicSig

import algosdk.error
import json
import base64
import pandas as pd

In [3]:
# Initialize the algod client (Testnet or Mainnet)
algod_client = algod.AlgodClient(algod_token='', algod_address=cred['algod_test'], headers=cred['api_token'])
algod_client.status()["last-round"]

37114600

## The Overview

In [4]:
# Get the holdings of one account on the web
print(cred['explore_test']+'address/'+MyAlgo['public'])
print(cred['explore_test']+'address/'+Alice['public'])
print(cred['explore_test']+'address/'+Bob['public'])
print(cred['explore_test']+'address/'+Charlie['public'])
print(cred['explore_test']+'address/'+Dina['public'])

https://explorer.perawallet.app/address/WSC24MVUSQ32IZYD7FNN54Z44IXWL4X7BOJD6AGFOCHOG4PDFESLZUGLTI
https://explorer.perawallet.app/address/ALICEXOA4Q2OD5CKBYND4UX75K3TAODEC3XCVNQ3URMKUMZKUOTOSAQLIU
https://explorer.perawallet.app/address/BOB23JBQLW3AJREEG3KD7ULMAGYGVZ2LVF2OMZ2XBJIR64NO5P24XN7WEU
https://explorer.perawallet.app/address/CHARLS5INIT5KOLDK3F2QAZXY7N4W7GOE6UTXHEHS3RBNCR2WJXRRTH3GY
https://explorer.perawallet.app/address/DINAAZWBJM6DRY73CWK7IOA4S7C6PVXQMQ4DJ3TK3DAGAGFJTX5KEYESDI

In [5]:
# Get the holdings of one account
asset_holdings_df(algod_client,Alice['public'])

   amount  unit   asset-id             name  decimals
0  12.961  ALGO          0         Algorand         6
1  90.000  USDC   10458941             USDC         6
2   2.500  PWSC  592359981  Peters WSC coin         2

In [6]:
# Get the holdings of all accounts
asset_holdings_list(algod_client,
                    [MyAlgo['public'], Alice['public'], Bob['public'], Charlie['public'], Dina['public']],
                    suffix = ['MyAlgo','Alice', 'Bob', 'Charlie', 'Dina'])

,amount,unit,asset-id,name,decimals,amountAlice,amountBob,amountCharlie,amountDina
0,9.998,ALGO,0,Algorand,6,12.961,11.143,0.0,8.651
1,990.000,PWSC,592359981,Peters WSC coin,2,2.500,7.500,NaN,NaN
2,NaN,USDC,10458941,USDC,6,90.000,10.000,NaN,0.000

### If your account(s) are short of testnet ALGOs, you can go here
- https://bank.testnet.algorand.network

### Here you get EURC and USDC
- https://faucet.circle.com